DATABASE_URL="postgresql://admin:admin@localhost:5432/chuoi_xanh_viet?schema=public"

JWT_ACCESS_TOKEN_SECRET=access_token_secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1h
JWT_REFRESH_TOKEN_SECRET=refresh_token_secret
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_RESET_PASSWORD_TOKEN_SECRET=reset_password_token_secret
JWT_RESET_PASSWORD_TOKEN_EXPIRES_IN=1h

PASSWORD_HASH_SECRET= "password_hash_secret"